html * {
    font-family: $primary-font;
}
 
body {
    overflow-x: hidden;
    background-color: #515DEF;
}

.container {
    background-color: #515DEF;
    margin: 0;
    padding: 0;
    position: absolute;
    
   
}